
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Body */
  body {
    display: flex;
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  /* Sidebar */
  .sidebar {
    width: 270px;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
  }
  
  .brand-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px; 
    margin-bottom: 30px; 
  }
  
  .logo {
    width: 72px;
    height: auto;
  }
  
  h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
  }
  
  h2 a {
    text-decoration: none;
  }
  
  h2 a span {
    font-size: 24px;
    font-weight: 700;
  }
  
  h2 a span:first-child {
    color: orange;
  }
  
  h2 a span:last-child {
    color: #00bcd4;
  }
  
  /* Sidebar Menu */
  .sidebar ul {
    list-style: none;
    width: 100%;
  }
  
  .sidebar li {
    margin: 15px 0;
    position: relative;
  }
  
  .sidebars a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 100;
    display: flex;
    justify-content: center; 
    align-items: center;  
    padding: 10px;
    border-radius: 20px;
    transition: background 0.3s;
    width: 230px;
    height: auto;
    font-family: 'Montserrat',sans-serif;
  }

  
  .sidebars a:hover,
  .sidebars a.active {
    background-color: rgba(245, 124, 0, 0.1);
    color: #F57C00;

  }
  
  /* Main Content */
  .main-content {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .main-content h1 {
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }

  .main-content h3 {
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  
  .main-content p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #1e1e1e;
    line-height: 30px;
    text-align: left;
  }

  .main-content .time{
    font-size: 15px;
    margin-bottom: 30px;
    color: #F57C00;
    text-align: center;
  }
  
  
  .search-filter-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
  }
  
  .search-bar {
    flex: 1;
    padding: 10px 12px;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 16px;
  }
  
  .filter-bar {
    padding: 10px 12px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    font-size: 16px;
    background-color: #F57C00;
    color: white;
  }

  .shop-navbar{
    position: sticky;
    top: 0px;
    z-index: 300;
    background-color: white;
  }
    .options{
      background-color: white;
      border: 1px solid #000000;
      color: #F57C00;
      font-family: 'Montserrat',sans-serif;
      font-weight: 500;
      border-color: #F57C00;
    }

  .img-container{
    width: auto;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
  }
    .title {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
  }
